/*------------ github.com/Henewi -------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@import url('https://db.onlinewebfonts.com/c/88b96d4bbbd5526e485ca727c48da139?family=Arame');

* {
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #000000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }

/* PRELOADER SECTION */

.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: radial-gradient(ellipse at bottom, #000000 0%, #000000 100%);
    display: grid;
    place-items: center;
    transition: opacity .4s, visibility 1s;
}

.fade {
    opacity: 0;
    visibility: hidden;
}


/* Background section */

/* Stars */

.background {
    position: absolute;
    z-index: 1;
    height: 1vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

section i {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px white,
    0 0 20px white, 
    0 0 40px white, 
    0 0 80px white;
    animation: animate linear infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    90% 
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

/* Pages container section */

.pagescontainer {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-snap-stop: always;
    font-family: Arame;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.page {
    background-color: #16161600;
    color: white;
    font-size: 10vh;
    display: flex;
    flex-direction: column;
}
/* 
.page1 {

}

.page2 {

}

.page3 {

}

.page4 {

} */

.pagenum {
    position: relative;
    left: 1vw;
    top: 0;
    max-height: 0vh;
    display: flex;
    align-items: center;
}

.pagetitle {
    position: relative;
    left: 2.4vw;
    top: 70vh;
    z-index: 10;
    transition: all .75s ease-in-out;
    border-radius: 20px;
    font-size: 20vh;
  }

  .pagenumcont {
    position: relative;
    display: flex;
    align-items: center;
    left: 1vw;
    display: flex;
    height: 100vh;
  }